aws_credentials_file = "~/.aws/credentials"
key_name = "name of keypair" # name of keypair in EC2
instance_keypair_file = "~/.ssh/somekeypair.pem" # path to your EC2 keypair

rafay_config_file = "~/.rafay/cli/config.json"
rafay_cluster_name = "cluster-name-in-rafay"
rafay_project = "project in rafay"
rafay_import = true

resource_name_prefix = "yourname-ec2-kubeadm"

kubernetes_version = "1.24.4"
containerd_release_version = "1.6.8"
runc_release_version = "1.1.4"

instance_type = "t2.xlarge"

worker_count = 3
master_count = 1
